html, body{
  height: 100%;
  width: 100%;
  margin:0;
}

body {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content; 
}

.sign-up-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 35%;
  margin-top: 11%;
}

.sign-up-title {
  margin: 30px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 25px;
}

button {
  width: 100%;
  padding: 5%;
margin-top : 3%;
  background-color: rgb(90, 160, 118);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(54, 99, 71);
}
