<div class="restaurant-info-card" id="{{ restaurant_info.id }}">
  <div class="detail-wrap">
    <img class="detail-image" src="{{ restaurant_info.images[0] }}" />
    <div class="detail-title">
      <div class="detail-name">{{ restaurant_info.name }}</div>
      <div class="detail-category">{{ restaurant_info.category }}</div>
    </div>
    <div class="rating">
      <div class="rating-naver">네이버별점 ★{{ restaurant_info.rating }}</div>
      <div class="divider">•</div>
      <div class="rating-jungle">
        정글별점 ★{{ restaurant_info.junglerating }}
      </div>
    </div>
  </div>
  <div class="more-info">
    <div class="address">
      <div class="address-title">주소</div>
      <div class="address-content">{{ restaurant_info.address }}</div>
    </div>
    <div class="contact">
      <div class="contact-title">전화</div>
      <div class="contact-content">{{ restaurant_info.contact }}</div>
    </div>
    <div class="redirectNaver" style="font-size: 15px">
      <a href="{{ restaurant_info.url }}" target="_blank">네이버에서 보기</a>
    </div>
  </div>
</div>

<div class="reviews">
  <div class="reviews-title">리뷰</div>
  <div class="reviews-count">{{ size }}</div>

  <div class="review-post">
    <div class="review-post-title">나의 리뷰</div>
    <div id="rating_bar">
      <span id="rate_5" onclick="rateStars('5')">★</span>
      <span id="rate_4" onclick="rateStars('4')">★</span>
      <span id="rate_3" onclick="rateStars('3')">★</span>
      <span id="rate_2" onclick="rateStars('2')">★</span>
      <span id="rate_1" onclick="rateStars('1')">★</span>
    </div>
    <div id="textareaContainer">
      <textarea id="review-text" cols="30" rows="4"></textarea>
      <button button="submit" onclick="postReview('{{restaurant_info.id}}')">
        등록
      </button>
    </div>
  </div>

  <!-- TODO : 리뷰 리스트에 별점정보 추가하기 -->

  <div class="review-list">
    <hr />
    {% for review in review_list|reverse %} {% if review.is_mine == True %}
    <div class="review-card" id="{{ review.id }}">
      <div class="review-name" style="position: relative; font-weight: 800%">
        {{ review.name }}
        <span id="jungle-rating" style="color: #4bce32"
          >★{{ review.rating }}
        </span>
        <span class="review-time" style="font-size: 10px">
          {{ review.created.strftime('%Y-%m-%d %H:%M') }}
        </span>
        <button type="button" onclick="deleteReview('{{ review.id }}')">
          삭제
        </button>
      </div>
      <div class="review-text">{{ review.text }}</div>
    </div>
    {% elif review.is_mine ==False %}
    <div class="review-card">
      <div class="review-name" style="position: relative; font-weight: 800%">
        {{ review.name }}
        <span id="jungle-rating" style="color: #4bce32"
          >★{{ review.rating }}</span
        >
        <span class="review-time" style="font-size: 10px">
          {{ review.created.strftime('%Y-%m-%d %H:%M') }}
        </span>
      </div>
      <div class="review-text">{{ review.text }}</div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<script>
  function rateStars(starNum) {
    let rate = starNum;
    for (let i = 1; i <= starNum; i++) {
      $("#rate_" + i).css("color", "#4bce32");
    }
    for (let i = 5; i > starNum; i--) {
      $("#rate_" + i).css("color", "#c7c5c5");
    }
    localStorage.setItem("rate", rate);
  }

  function postReview(restaurant_id) {
    let rating = localStorage.getItem("rate");
    let text = $("#review-text").val();
    let restaurant = $(".detail-name").val();

    if (text !== "") {
      $.ajax({
        type: "POST",
        url: "/api/v1/reviews",
        data: { restaurant: restaurant_id, text: text, rating: rating },
        error: function (response) {
          alert("로그인이 필요한 서비스 입니다.");
        },
        success: function (response) {
          let reviewListDiv = document.getElementsByClassName("review-list")[0];
          alert("등록 완료!");
          $("#review-text").val("");
          $(".detail-name").val("");
          moreInfoRestaurant(restaurant_id);
        },
      });
    } else alert("리뷰를 입력해주세요.");
  }

  function deleteReview(review_id) {
    $.ajax({
      type: "DELETE",
      url: "/api/v1/reviews",
      data: { reviewId: review_id },
      success: function (response) {
        let deleteReview = document.getElementById(review_id);
        alert("삭제완료!");
        deleteReview.remove();
      },
    });
  }
</script>
