<div class="restaurant-info-card">
  <div class="detail-wrap">
    <img class="detail-image" src="{{ restaurant_info.images[0] }}" />
    <div class="detail-title">
      <div class="detail-name">{{ restaurant_info.name }}</div>
      <div class="detail-category">{{ restaurant_info.category }}</div>
    </div>
    <div class="rating">
      <div class="rating-naver">네이버별점 ★{{ restaurant_info.rating }}</div>
      <div class="divider">•</div>
      <div class="rating-jungle">
        정글별점 ★{{ restaurant_info.junglerating }}
      </div>
    </div>
  </div>
  <div class="more-info">
    <div class="address">
      <div class="address-title">주소</div>
      <div class="address-content">{{ restaurant_info.address }}</div>
    </div>
    <div class="contact">
      <div class="contact-title">전화</div>
      <div class="contact-content">{{ restaurant_info.contact }}</div>
    </div>
  </div>
</div>

<div class="reviews">
  <div class="reviews-title">리뷰</div>
  <div class="reviews-count">322</div>

  <div class="review-post">
    <div class="review-post-title">나의 리뷰</div>
    <div id="rating_bar">
      <span id="rate_1" onclick="rate1()"></span>
      <span id="rate_2" onclick="rate2()"></span>
      <span id="rate_3" onclick="rate3()"></span>
      <span id="rate_4" onclick="rate4()"></span>
      <span id="rate_5" onclick="rate5()"></span>
    </div>
    <textarea id="" cols="30" rows="4"></textarea>
    <button>등록</button>
  </div>

  <!-- TODO : 리뷰 리스트에 별점정보 추가하기 -->

  <div class="review-list">
    <hr />
    <div class="review-card">
      <div class="review-name">홍길동</div>
      <div class="review-text">
        최고의 맛집이에요~!!<br />
        15분을 걸어가서 먹을 가치가 있는 맛집입니다.
      </div>
    </div>
    <hr />
    <div class="review-card">
      <div class="review-name">홍길동</div>
      <div class="review-text">
        최고의 맛집이에요~!!<br />
        15분을 걸어가서 먹을 가치가 있는 맛집입니다.
      </div>
    </div>
    <hr />
    <div class="review-card">
      <div class="review-name">홍길동</div>
      <div class="review-text">
        최고의 맛집이에요~!!<br />
        15분을 걸어가서 먹을 가치가 있는 맛집입니다.
      </div>
    </div>
    <hr />
    <div class="review-card">
      <div class="review-name">홍길동</div>
      <div class="review-text">
        최고의 맛집이에요~!!<br />
        15분을 걸어가서 먹을 가치가 있는 맛집입니다.
      </div>
    </div>
  </div>
</div>
