<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>정글로드</title>
    <link href="../static/css/mainpage.css" rel="stylesheet" />
  </head>

  <body>
    <div class="menu-bar">
      <a href="/">
        <div class="main-logo">
          <img src="../static/jungle-icon.png" />정글로드
        </div>
      </a>
      <div class="access-management">
        <div class="sign-in">
          <button onclick="location.href='/sign-in'">로그인</button>
        </div>
        <div class="sign-up">
          <button onclick="location.href='./sign-up.html'">회원가입</button>
        </div>
      </div>
    </div>
    <div class="main-div">
      <div class="restaurant-list">
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
        <div class="restaurant-info-mini">
          <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
          <div class="info-mini">
            <div class="title-mini">식당 이름 : 밥함께해</div>
            <div class="category-mini">카테고리 : 백반, 가정식</div>
            <div class="naver-review-mini">네이버 평점 : 4.2</div>
            <div class="peer-review-mini">정글 평점 : 3.5</div>
          </div>
        </div>
      </div>
      <div class="restaurant-info"></div>
    </div>
  </body>
</html>
