<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>정글로드</title>
    <link href="../static/css/mainpage.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

      /* TODO : 음식점 리스트에서 음심적 이름을 클릭하는 경우 오른쪽 화면 html이 추가됨 */

      // $(document).ready(function () {
      //   access_token = localStorage.getItem("access_token");
      //   if (access_token != null) {
      //     // xxx님 반갑습니다 띄우기
      //   } else {
      //     // 로그인, 회원가입 버튼 띄우기
      //   }
      // });

      // function profileName(access_token) {
      //   $.ajax({
      //     type: "GET",
      //     url: "/api/v1/users/",
      //     data: {},
      //     headers: {
      //       Authorization: "Bearer" + access_token,
      //     },
      //     success: function (response) {},
      //   });
      // }
    </script>
  </head>

  <body>
    <div class="menu-bar">
      <a href="/">
        <div class="main-logo">
          <img src="../static/jungle-icon.png" />정글로드
        </div>
      </a>
      <div class="access-management">
        {% if isLogedIn == True %}
          <div class="profile-name">
            {{ name }}님 반갑습니다.
          </div>
        {% elif isLogedIn == False %}
          <div class="sign-in">
            <button onclick="location.href='/sign-in'">로그인</button>
          </div>
          <div class="sign-up">
            <button onclick="location.href='/sign-up'">회원가입</button>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="main-div">
      <div class="restaurant-list">
        {% for restautant in restaurants %}
          <div class="restaurant-info-mini">
            <img class="restaurant-img-mini" src="../static/jungle-icon.png" />
            <div class="info-mini">
              <div class="mini-name" onclick="">{{ restaurant.name }}</div>
              <div class="mini-category">{{ restaurant.category }}</div>
              <div class="mini-rating-naver">네이버별점 ★{{ restaurant.star }}</div>
              <div class="mini-rating-jungle">정글별점 ★{{ restaurant.junglestar }}</div>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- TODO : 아무런 동작이 없었을 때의 기본 화면 디자인하기 -->

      <div class="restaurant-info">
        <div class="restaurant-info-card">
          <div class="detail-wrap">
            <img class="detail-image" src="../static/jungle-icon.png" />
            <div class="detail-title">
              <div class="detail-name">밥 먹으러 가자</div>
              <div class="detail-category">백반 가정식</div>
            </div>
            <div class="rating">
              <div class="rating-naver">네이버별점 ★4.5</div>
              <div class="divider">•</div>
              <div class="rating-jungle">정글별점 ★4.8</div>
            </div>
          </div>
          <div class="more-info">
            <div class="address">
              <div class="address-title">주소</div>
              <div class="address-content">대전시 유성구 문지로 123-45</div>
            </div>
            <div class="contact">
              <div class="contact-title">전화</div>
              <div class="contact-content">010-1234-5678</div>
            </div>
          </div>
        </div>

        <div class="reviews">
          <div class="reviews-title">리뷰</div>
          <div class="reviews-count">322</div>

          <div class="review-post">
            <div class="review-post-title">나의 리뷰</div>
            <div id="rating_bar">
              <span id="rate_1" onclick="rate1()"></span>
              <span id="rate_2" onclick="rate2()"></span>
              <span id="rate_3" onclick="rate3()"></span>
              <span id="rate_4" onclick="rate4()"></span>
              <span id="rate_5" onclick="rate5()"></span>
            </div>
            <textarea id="" cols="30" rows="4"></textarea>
            <button>등록</button>
          </div>

          <!-- TODO : 리뷰 리스트에 별점정보 추가하기 -->

          <div class="review-list">
            <hr />
            <div class="review-card">
              <div class="review-name">홍길동</div>
              <div class="review-text">
                최고의 맛집이에요~!!<br />
                15분을 걸어가서 먹을 가치가 있는 맛집입니다.
              </div>
            </div>
            <hr />
            <div class="review-card">
              <div class="review-name">홍길동</div>
              <div class="review-text">
                최고의 맛집이에요~!!<br />
                15분을 걸어가서 먹을 가치가 있는 맛집입니다.
              </div>
            </div>
            <hr />
            <div class="review-card">
              <div class="review-name">홍길동</div>
              <div class="review-text">
                최고의 맛집이에요~!!<br />
                15분을 걸어가서 먹을 가치가 있는 맛집입니다.
              </div>
            </div>
            <hr />
            <div class="review-card">
              <div class="review-name">홍길동</div>
              <div class="review-text">
                최고의 맛집이에요~!!<br />
                15분을 걸어가서 먹을 가치가 있는 맛집입니다.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
