<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>정글로드</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/mainpage.css') }}"
    />
    <!-- <link href="../static/css/mainpage.css" rel="stylesheet" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      /* TODO : 음식점 리스트에서 음심적 이름을 클릭하는 경우 오른쪽 화면 html이 추가됨 */
      function moreInfoRestaurant(restaurantId) {
        $.ajax({
          type: "GET",
          url: "/api/v1/restaurants/" + restaurantId,
          data: {},
          success: function (response) {
            console.log(response);
            $(".restaurant-info").empty();
            $(".restaurant-info").append(response);
          },
        });
      }
    </script>
  </head>

  <body>
    <div class="menu-bar">
      <a href="/">
        <div class="main-logo">
          <img
            src="{{ url_for('static', filename='jungle-icon.png') }}"
          />정글로드
        </div>
      </a>
      <div class="access-management">
        {% if isLogedIn == True %}
        <div class="profile-name">
          {{ name }}님 반갑습니다. <button onclick="">로그아웃</button>
        </div>

        {% elif isLogedIn == False %}
        <div class="sign-in">
          <button onclick="location.href='/sign-in'">로그인</button>
        </div>
        <div class="sign-up">
          <button onclick="location.href='/sign-up'">회원가입</button>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="main-div">
      <div class="restaurant-list">
        {% for restaurant in restaurants %}
        <div
          class="restaurant-info-mini"
          id="{{ restaurant.id }}"
          onclick="moreInfoRestaurant('{{ restaurant.id }}')"
        >
          <img class="restaurant-img-mini" src="{{ restaurant.images[0] }}" />
          <div class="info-mini">
            <div class="mini-name" onclick="">{{ restaurant.name }}</div>
            <div class="mini-category">{{ restaurant.category }}</div>
            <div class="mini-rating-naver">
              네이버별점 ★{{ restaurant.rating }}
            </div>
            <div class="mini-rating-jungle">
              정글별점 ★{{ restaurant.junglerating }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- TODO : 아무런 동작이 없었을 때의 기본 화면 디자인하기 -->

      <div class="restaurant-info"></div>
    </div>
  </body>
</html>
